@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

/* Fix Leaflet z-index inside flex containers */
.leaflet-pane { z-index: 40 !important; }
.leaflet-control { z-index: 50 !important; }

@font-face {
  font-family: 'LTAIdentity';
  src: url('./assets/fonts/LTAIdentity.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
